
.order-form{
  display: flex;
  width: 75%;
  padding: 100px 20px 20px 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.order-body{
  width: 470px;
  border: 1px solid silver;
  box-shadow:  0 0 7px silver;
  padding: 30px;
}
.form-group{
  margin: 15px;
}

#googleMap{
  margin: 35px;
  width: 500px;
  height: 300px;
  border: 1px solid white;
  border-radius: 5px;
}